body{
    background-color: #f6e3ce;
}
h1.titulo{
    color: brown;
   

}
h3.Carta {

    height: 150px;
    left: 50px;
    position: relative;
    top: 150px;
    width: 150px;
  }
  
  img.Carta1 {
  
    height: 150px;
  right: -130px;
  position: relative;
  top: -150px;
  width: 150px;
}